{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pythagoras Airline</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <div class="navbar">

      <div class="container">

        <div class="logo">
          <!-- TODO: Animate the logo. -->
          <a href="{% url 'home' %}"><img src="{% static 'assets/img/logo.png' %}" alt="Airplane"></a>
        </div>

        <div class="name">
          <h2>Pytha Airways</h2>
        </div>
        <!-- TODO: Add a profile link here for the user to view his/her own profile. -->
        <div class="logs">
          {% if request.user.is_authenticated %}
            <a href="{% url 'profile' %}"><img id="profile-icon" src="{% static 'img/assets/my1.png' %}" alt="profile"></a>
            <a href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a href="{% url 'login' %}">Login</a>
          {% endif %}
        </div>

      </div>

        <!-- TODO: Remove the dashboard div when the user is not authenticated. -->
        {% if request.user.is_authenticated %}
          <div class="dashboard">

            {% if request.user.is_staff %}

              <form autocomplete="off">
                <input type="text" name="q" value="{{ q }}" placeholder="Search...">
              </form>

              <a href="{% url 'flight' %}">Flights.</a>
              <a href="{% url 'client' %}">Clients.</a>
              <a href="{% url 'add-airport' %}">Add airport.</a>
              <a href="{% url 'create-flight' %}">Create a flight.</a>
            {% else %}
              <a href="{% url 'book-flight' %}">Book a flight.</a>

            {% endif %}

          </div>
        {% endif %}

      <hr>
    </div>
  </body>
  <script src="{% static 'js/scripts.js' %}" charset="utf-8"></script>
</html>
