*{
  padding: 0px;
  margin: 0px;
}
.navbar{
  width: 100%;
  background: #f6f6f6;
}
.container{
  display: flex;
  justify-content: space-between;
}
.dashboard{
  padding-left: 5px;
  display: flex;
  padding-bottom: 5px;
}
.dashboard a{
  margin-left: 10px;
}
.logs{
  display: flex;
}
#toggle{
	width: 50px;
	height: 20px;
	background-color: black;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	border-radius: 20px;
}
#ball{
	background-color: white;
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	border-radius: 50%;
	transition: transform 0.5s linear;
}
#toggle i{
  color: white;
}
.logo img{
  width: 200px;
  animation: move 1s linear;
}
@keyframes move {
  0%{
    transform: translateX(-50vh);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
.logo{
  margin-top: 15px;
}
.name{
  color: #4628B4;
  font-size: 75px;
}
#profile-icon{
  width: 25px;
  margin-right: 5px;
}
hr{
  color: grey;
}
a{
  text-decoration: none;
  cursor: pointer;
}
@keyframes disappear {
  0%{
    opacity: 1;
    height: 25px;
    padding-bottom: 7px;
    font-weight: 300;
    font-size: 20px;
  }
  90%{
    opacity: 1;
    height: 25px;
    padding-bottom: 7px;
    font-weight: 300;
    font-size: 20px;
  }
  100%{
    opacity: 0;
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 0;
    font-size: 0px;
  }
}
.message{
  width: 100%;
  height: 25px;
  padding-bottom: 7px;
  background: #4628B4;
  color: grey;
  font-family: cursive, monospace, sans-serif;
  font-weight: 300;
  font-size: 20px;
  animation-name: disappear;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-play-state: running;
}
#profile-photo img{
  width: 100px;
  border-radius: 50%;
}